<div class = "blueborder">
  <h3>Dashboard Component</h3>
  <a [routerLink] = "['/new']"> Create a new Friend!</a>
  <div *ngIf = 'errors'>
    {{errors}}
  </div>
  <div *ngIf='friends'>
    <table class = "table table-stripped">
    <thead>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Birthday</th>
      <th>Action</th>
    </thead>
    <tbody>
    <tr *ngFor = 'let friend of friends'>
      <td>{{friend.first_name}}</td>
      <td>{{friend.last_name}}</td>
      <td>{{friend.birthday | date: "longDate"}}</td>
      <td>
        <a [routerLink] = "['/show', friend._id]">Show</a>
        <a [routerLink] = "['/edit', friend._id]">Edit</a>
        <a (click) = 'delete(friend._id)'>Delete</a>
      </td>

  </table>
  </div>

</div>
